body {
    margin-bottom: 80px;
}

.header {
    background-color: rgb(127, 149, 189);
    height: 50px;
    padding: 10px;

    color: white;

    margin-bottom: 30px;
}

.menu-link {
    text-decoration: none !important;
    color: white;
}

.brand {
    text-decoration: none !important;
    color: white;
    font-weight: 100;
    font-size: 20px;

    display: inline-block;
}

.dot:after {
    margin-left: 8px;
    margin-right: 8px;

    content: "•";
    display: inline-block;
}

.input-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

#logout-form {
    display: inline-block;
}
