<div style="text-align: center">
    <h1>
        <span style="font-size: 40px; font-weight: 100">
            Upld
        </span>
        - fast image sharing

        <div id="home-graphic">
            <img src="/assets/images/graphic.svg">
        </div>
    </h1>
</div>
