<!DOCTYPE html>
<html>
    <head>
        <title>Upld</title>

        <link rel="stylesheet" href="css/primer.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="shortcut icon" href="images/favicon32.png">
    </head>

    <body>
        <div class="header">
            <div class="container" id="menu">
                <a class="brand" href="/">
                    Upld
                </a>
                <span class="dot"></span>
                {{ if .User.LoggedIn }}
                    <a href="/me" class="menu-link">
                        {{ .User.Username }}
                    </a>
                    <span class="dot"></span>
                    <a href="/upload" class="menu-link">
                        Upload
                    </a>
                    <span class="dot"></span>
                    <form action="/logout" method="post" id="logout-form">
                        <a href="javascript:;"
                        onclick="document.getElementById('logout-form').submit()"
                        class="menu-link">
                            Log out
                        </a>
                    </form>
                {{ else }}
                    <a href="/login" class="menu-link">
                        Log In
                    </a>
                    <span class="dot"></span>
                    <a href="/register" class="menu-link">
                        Register
                    </a>
                {{ end }}
            </div>
        </div>

        <div class="container">
            {{ range .Flashes }}
                <div class="flash">
                    <span class="flash-close">X</span>
                    {{ . }}
                </div>
            {{ end }}

            {{ yield }}
        </div>

        <script src="/js/script.js"></script>
        <script>
            var elems = document.querySelectorAll(".flash-close");
            for (var i = 0; i < elems.length; i++) {
                elems[i].onclick = function(e) {
                    e.toElement.parentElement.remove()
                }
            }
        </script>
    </body>
</html>
