<h2>
    Log In
    <small style="font-size: 12px; font-weight: normal">
        (<a href="/register">Register</a>)
    </small>
</h2>

<form action="/login" method="post">
    <div class="input-field">
        <label>Username</label>
        <br>
        <input type="text" name="username">
    </div>
    
    <div class="input-field">
        <label>Password</label>
        <br>
        <input type="password" name="password">
    </div>

    <div class="input-field">
        <input type="submit" class="btn btn-primary" value="Log in">
    </div>
</form>
