<div class="columns">
    <div class="one-fifth column">
        <nav class="menu" id="me-page-menu">
            <span class="menu-heading">
                My Account
            </span>

            <a href="/me" class="menu-item">
                Uploads
                <span class="counter">
                    {{.Data.TotalUploads}}
                </span>
            </a>
            <a href="me/favs" class="menu-item">
                Favorites
            </a>            
        </nav>
    </div>

    <div class="four-fifths column">
        {{ range .Data.Uploads }}
            <div class="media-item" id="media-{{._id.Hex}}">
                <div class="media-corner">
                    <input type="checkbox">
                </div>
                <div class="media-image" style="position: relative">
                    <a href="{{.S3_URL}}" target="_blank">
                        <img src="{{.S3_URL}}" class="media-thumbnail">
                    </a>
                </div>
                <div class="media-desc">
                    <span class="css-truncate css-truncate-target media-name">
                        <a href="{{.ViewURL}}">
                            {{.name}}
                        </a>
                    </span>

                    <a href="javascript:activateUploadMenu('{{._id.Hex}}');"
                    class="btn btn-sm btn-outline more-info-btn right">
                        •••
                    </a>
                    <nav class="menu dropdown-menu" id="upload-menu-{{._id.Hex}}">
                        <a class="menu-item" href="{{.S3_URL}}" target="_blank">
                            Open in new window
                        </a>
                        <a href="javascript:favoriteUpload('{{._id.Hex}}')"
                        class="menu-item" id="menu-favorite-item">
                            {{ if .favorite }}
                                Unfavorite
                            {{ else }}
                                Favorite
                            {{ end }}
                        </a>
                        <a href="javascript:deleteUpload('{{._id.Hex}}')"
                        class="menu-item" id="menu-delete-item">
                            Delete
                        </a>
                    </nav>
                </div>
            </div>
        {{ end }}
        <br>
        {{ .Data.Paginate }}
    </div>
</div>

<script src="/js/me.js"></script>
