<h2>
    Register
    <small style="font-size: 12px; font-weight: normal">
        (<a href="/login">Log in</a>)
    </small>
</h2>

<form action="/register" method="post">
    <div class="input-field">
        <label>Username</label>
        <br>
        <input type="text" name="username">
    </div>
    
    <div class="input-field">
        <label>Password</label>
        <br>
        <input type="password" name="password">
    </div>

        <div class="input-field">
        <label>Password Confirmation</label>
        <br>
        <input type="password" name="password-confirmation">
    </div>

    <div class="input-field">
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>
