<a class="menu-item upload-list-item selected" style="display: none" id="sample-upload-entry">
    <span style="position: relative; z-index: 2"></span>
    <span class="right percent-label" style="z-index: 2; position: relative"></span>
    <div class="progress-bg"></div> 
</a>

<div style="display: none" id="hidden-inputs-wrapper">
    <input type="file" multiple data-id="1" onchange="handleSelectedFiles(this)">
</div>

<div class="menu" id="uploads-list">
    <span class="menu-heading">
        <h2 id="upload-list-title">Upload files</h2>
    </span>
</div>

<a href="javascript:addFiles()" class="btn">
    Add Files
</a>
(or drag)

<script src="/js/upload.js"></script>
