<h1 class="upload-title">{{.Data.Name}}</h1>

<div class="blankslate">
    <a href="{{.Data.S3_URL}}" target="_blank">
        <img src="{{.Data.S3_URL}}" style="width: 100%" class="upload-img-main">
    </a>
</div>
